*{
	font-family: "Avenir Next";
}

md-nav-bar .md-nav-bar{ background: rgb(27,117,187); color: rgb( 255, 255, 255 );}
md-nav-bar md-nav-ink-bar {
  background: rgb( 255, 255, 255 );
}
md-nav-bar .md-nav-item{
    color: rgb( 255, 255, 255);
}
md-nav-bar.md-default-theme md-nav-ink-bar,md-nav-bar md-nav-ink-bar,md-tabs.md-default-theme md-ink-bar,md-tabs md-ink-bar {
color:rgb( 255, 255, 255);
background:rgb( 255, 255, 255);
}
md-nav-bar .md-button._md-nav-button.md-unselected {
    color: rgba( 242, 240, 240, 0.6);
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
	background-color: rgb(27,117,187);
}
md-dialog{
	max-width: 50%;
}
.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3{
	font-weight: bold;
	color: rgb( 255, 255, 255);
}
.md-button._md-nav-button {
	color:rgb( 255, 255, 255);
    text-transform: capitalize !important;
}
.md-activity-card{
	width: 90%;
	max-height: 320px;
	min-width: 300px;
}
.activity-title{
	font-size: 16px;
}
.type-activity {
	font-size: 12px;
}
.detail-title{
	font-weight: bold;
}
.day-title{
	font-size: 24px;
	color:rgb( 27, 117, 187);
}
.green-arrow{
	background-color: rgb( 117, 183, 83) !important;
}
.activities-row{
}
.img-card{
	max-height: 250px;
	max-width: 300px;
}
