<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <title>Daily Activity Plan</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="app.css">     
</head>
<body ng-controller="DpaController as ctrlDpa">
        <md-nav-bar md-selected-nav-item="ctrlDpa.currentNavItem">
            <md-nav-item ng-repeat="days in ctrlDpa.planDays" md-nav-click="goto('page{{days.day}}')" name="{{days.day}}">Day {{days.day}}</md-nav-item>
        </md-nav-bar>
    
    <md-content layout-align="center center" layout="row">
            <div flex layout="row" layout-align="end center">
                <md-button class="md-fab green-arrow">
                    <md-icon md-font-set="material-icons">keyboard_arrow_left</md-icon>
                </md-button>
            </div>
            <div ng-repeat="days in ctrlDpa.planDays" ng-class="{special: $index}" ng-if="ctrlDpa.currentNavItem == days.day" layout="column" layout-align="center center" flex="70">
                    <p class="day-title">Day {{days.day}}</p>
                    <div ng-repeat="items in days.items" ng-if="items.type == 'activity'">
                        <md-card class="md-activity-card">
                            <img ng-src="{{items.content.thumbnails.size1}}" class="md-card-image img-card">
                            <md-card-content  layout="row" ng-click="ctrlDpa.showDetail($event,items)">
                                <div flex="none">
                                    <img src="./assets/images/icon-kid.png">
                                </div>
                                <div flex="70" layout="column" flex-offset="5">
                                    <label class="activity-title">{{items.content.name}}</label>
                                    <label class="type-activity">{{items.type}} <span>{{ctrlDpa.currentNavItem}}</span></label>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
            </div>
            <div flex>
                <md-button class="md-fab green-arrow">
                    <md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon>
                </md-button>
            </div>
    </md-content>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="controllers/dpactrl.js"></script>
    <script src="services/activityplan.js"></script>
</body>
</html>